<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @app.name.split().first %>,</p>
    <p>My name is <%= @curator %>, and I'm one of the co-curators for <a href="http://tedxyale.com">TEDxYale</a>. As part of organizing TEDxYale 2015, which will be held on April 4th, we are holding a student speaker competition. Each year, our conference hosts a diverse range of speakers, including a small group of students. This year's competition is different from previous ones, because we are encouraging students to nominate their peers to audition. <b>And we'd like to congratulate you for being nominated!</b></p>
    <p>This means that one of your friends thinks you would give an excellent TED talk, and we'd love to have you audition! The first round of auditions will be held on Tuesday, November 11th, and you would be responsible for first 3 minutes of your possible TED talk. If you think this is something you'd like to pursue, please sign up to speak on our <a href="https://www.google.com/calendar/selfsched?sstoken=UURVU3hRUFg3VGRKfGRlZmF1bHR8NDIwMDk5NzA4Mzc2ODllMTNiMjQ0MDgwNmZiMTVlMjU">Google calendar</a>.</p>
    <p>Looking forward to hearing your TED talk,</p>
    <p><%= @curator.split().first %></p>
  </body>
</html>