<div id="footnotes">
  <div class="footnotes-header">
    <div class="wrapper">
      <a href="/" id="footnotes-logo"><img src="/assets/tedxyale_logo_white.png"/></a>

      <div class="open-links">
        <span id="footnotes-tagline">Mind the Gap</span>
        <a id="ticket" class="left-button" href="/">Tickets available soon</a>
      </div>
    </div>
  </div>

  <div id="footnotes-modal">
    <div class="nav">
      <div class="wrapper">
        <h4>Speaker <span id="speaker-name"></span></h4>
        <button id="close-modal"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="wrapper">
      <div id="speaker"></div>
    </div>
  </div>

  <div class="footnotes-content">
    <div class="panel">
      <div class="wrapper">
        <h5>Why is creativity so challenging for our brains to achieve? What should cities do to close the thirty million word gap between wealthy and poor students? How can policy makers, enforcement agencies, and journalists work together to accurately capture the vast complexity of global crime networks? Join a community of inspired thinkers and curious souls this October 15th at <b><i>TEDxYale: Mind the Gap</i></b>, where you will explore solutions to the barriers, disparities, and incongruities within ourselves, among communities, and across the world.</h5>
      </div>
    </div>

    <div class="panel" id="details">
      <div class="background">
        <div class="wrapper">
          <table>
            <tr>
              <th>When</th>
              <th>Where</th>
            </tr>
            <tr>
              <td class="primary">Saturday, October 15th</td>
              <td class="primary">Lewinson Auditorium</td>
            </tr>
            <tr>
              <td>10:00am to 4:00pm</td>
              <td>Sterling Law Building</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="wrapper">
        <h1>2016 Speakers</h1>
        <div id="speakers">
        </div>
      </div>
    </div>

    <div class="footnotes-sponsors">
      <div class="wrapper">
        <h1>Sponsors</h1>
        <div id="sponsors">
          <a href="http://www.gant.com/" target="_blank" class="footnotes-sponsor" style="background-image: url('/assets/gant.jpeg')"></a>
        </div>
      </div>
    </div>

    <div class="footnotes-footer">
      <div class="wrapper">
        <div class="footer-ticket">
          <a href="/">Tickets available soon</a>
        </div>
      </div>
    </div>

  </div>
</div>
