<div id="footnotes">
  <div class="footnotes-header">
    <div class="wrapper">
      <a href="/" id="footnotes-logo"><img src="/assets/tedxyale_logo_white.png"/></a>
      <div class="open-links">
        <span id="footnotes-tagline">Exploring the Footnotes</span>
        <a id="ticket" class="left-button" href="https://tedxyale2014.eventbrite.com" target="_blank">Reserve your ticket</a>
      </div>
      <a id="skip" class="left-button">Skip Intro</a>
    </div>
  </div>
  
  <div id="footnotes-intro" class="footnotes-fixed">
    <div class="wrapper">
      <div id="text"></div>
    </div>
  </div>
  
  <div id="footnotes-modal">
    <div class="nav">
      <div class="wrapper">
        <h4>Speaker <span id="speaker-name"></span></h4>
        <button id="close-modal"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="wrapper">
      <div id="speaker"></div>
    </div>
  </div>

  <div class="footnotes-content">    
    <div class="panel">
      <div class="wrapper">
        <h5>On March 29th, TEDxYale will present its third annual flagship conference. This year's theme is <b><i>Exploring the Footnotes</i></b>, an ode to some of the most powerful talks we've seen and to the details that define a story. Speakers span from physicists and dancers, to economists, to magicians, to musical groups. Our mission is to connect the world's best ideas with the world's brightest minds.</h5>
      </div>
    </div>
    
    <div class="panel" id="details">
      <div class="background">
        <div class="wrapper">
          <table>
            <tr>
              <th>When</th>
              <th>Where</th>
            </tr>
            <tr>
              <td class="primary">Saturday, March 29th</td>
              <td class="primary">The Yale Repertory Theater</td>
            </tr>
            <tr>
              <td>10:00am to 3:00pm</td>
              <td>1120 Chapel St.</td>
            </tr>
            <tr>
              <td></td>
              <td>New Haven, CT 06510</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <div class="panel">
      <div class="wrapper">
        <h1>2014 Speakers</h1>
        <div id="speakers">
        </div>
      </div>
    </div>
    
    <div class="footnotes-footer">

    </div>
  </div>
</div>