<div id="footnotes">
  <div class="footnotes-header">
    <div class="wrapper">
      <a href="/" id="footnotes-logo"><img src="/assets/tedxyale_logo_white.png"/></a>
      <div class="open-links">
        <span id="footnotes-tagline">Moment of Impact</span>
        <a id="ticket" class="left-button" href="http://www.ticketmaster.com/Tedx-Yale-Moment-Of-Impact-tickets/artist/2103148?tm_link=edp_Artist_Name" target="_blank">Reserve your ticket</a>
      </div>
    </div>
  </div>
  
  <div id="footnotes-modal">
    <div class="nav">
      <div class="wrapper">
        <h4>Speaker <span id="speaker-name"></span></h4>
        <button id="close-modal"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="wrapper">
      <div id="speaker"></div>
    </div>
  </div>

  <div class="footnotes-content">    
    <div class="panel">
      <div class="wrapper">
        <h5>On April 4, TEDxYale will present its fourth annual flagship conference. This year's theme is <b><i>Moment of Impact</i></b>. Speakers span from physicists and architects, to mountain climbers, to artists, to musical groups. Our mission is to connect the world's best ideas with the world's brightest minds.</h5>
      </div>
    </div>
    
    <div class="panel" id="details">
      <div class="background">
        <div class="wrapper">
          <table>
            <tr>
              <th>When</th>
              <th>Where</th>
            </tr>
            <tr>
              <td class="primary">Saturday, April 4th</td>
              <td class="primary">Shubert Theater</td>
            </tr>
            <tr>
              <td>10:00am to 4:00pm</td>
              <td>247 College Street</td>
            </tr>
            <tr>
              <td></td>
              <td>New Haven, CT 06510</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <div class="panel">
      <div class="wrapper">
        <h1>2015 Speakers</h1>
        <div id="speakers">
        </div>
      </div>
    </div>
    
    <div class="footnotes-footer">
      <div class="wrapper">
        <div class="footer-ticket">
          <a href="http://www.ticketmaster.com/Tedx-Yale-Moment-Of-Impact-tickets/artist/2103148?tm_link=edp_Artist_Name" target="_blank">Reserve your ticket now</a>
        </div>
      </div>
    </div>

    <div class="footnotes-sponsors">
      <div class="wrapper">
        <h1>Sponsors</h1>
        <div id="sponsors">
          <a href="http://www.gant.com/" target="_blank" class="footnotes-sponsor" style="background-image: url('/assets/gant.jpeg')"></a>
          <a href="http://communications.yale.edu/" target="_blank" class="footnotes-sponsor" style="background-image: url('/assets/sponsors/publicaffairs.png')"></a>
        </div>
      </div>
    </div>
  </div>
</div>